.detail{
	margin: auto;
    width: 800px;
    height: 800px;
    margin-top: 250px;
   
}

.detail .detail-area{
    background-color: #f6f5f0;
    border-radius: 10px;
    border: 2px solid #e4d4fa;
}

.detail .detail-area th
.detail .detail-area td{
    border: 1px solid #e4d4fa;
}

.detail a {
    width: 120px;
    top: 20px;
 
    margin-top: 20px;
    margin: auto;
}

.detail img{
	width: 300px;
	height: 400px;
}