<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="AdBoardList">

	select 
		C_NO, 
		C_TITLE, 
		C_CONTENTS, 
		C_DATE, 
		a.StaTUS, 
		C_STAR, 
		COUNT, 
		b.USER_Name, 
		C_CATEGORY
	from 
		cook_board a
	join 
		member b on 
			(a.user_no = b.user_no)
	    where C_CATEGORY = 
</entry>

</properties>