<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

<entry key ="adOnedayList">



	select 
		one_no, 
		one_title, 
		one_phone, 
		one_place, 
		one_status, 
		location_no,
		one_agree, 
		ent_people, 
		tem_cate_name, 
		onecategory_name,
		score,
		price,
		start_time, 
		end_time
	from 
		onedayclass a
    join thema_category b on a.tem_cate_no = b.tem_cate_no
    join one_category c on a.onecategory_no = c.onecategory_no
	order by 1 desc
	



</entry>


<entry key ="adOnedayReadyList">



	select 
		one_no, 
		one_title, 
		one_phone, 
		one_place, 
		one_status, 
		location_no,
		one_agree, 
		ent_people, 
		tem_cate_name, 
		onecategory_name,
		score,
		price,
		start_time, 
		end_time
	from 
		onedayclass a
    join thema_category b on a.tem_cate_no = b.tem_cate_no
    join one_category c on a.onecategory_no = c.onecategory_no
    where one_status = 'Y'
    
    	order by 1 desc



</entry>


<entry key ="adOnedayClearList">



	select 
		one_no, 
		one_title, 
		one_phone, 
		one_place, 
		one_status, 
		location_no,
		one_agree, 
		ent_people, 
		tem_cate_name, 
		onecategory_name,
		score,
		price,
		start_time, 
		end_time
	from 
		onedayclass a
    join thema_category b on a.tem_cate_no = b.tem_cate_no
    join one_category c on a.onecategory_no = c.onecategory_no
     where one_status = 'N'
    
    	order by 1 desc
	



</entry>


<entry key ="adOnedayFailList">



	select 
		one_no, 
		one_title, 
		one_phone, 
		one_place, 
		one_status, 
		location_no,
		one_agree, 
		ent_people, 
		tem_cate_name, 
		onecategory_name,
		score,
		price,
		start_time, 
		end_time
	from 
		onedayclass a
    join thema_category b on a.tem_cate_no = b.tem_cate_no
    join one_category c on a.onecategory_no = c.onecategory_no
    where one_agree = 3
    
    	order by 1 desc



</entry>


<entry key ="adOnedayDetail">



	select 
		one_no, 
		one_title, 
		one_phone, 
		one_place, 
		one_status, 
		a.location_no,
		one_agree, 
		ent_people, 
		tem_cate_name, 
		onecategory_name,
		score,
		price,
		start_time, 
		end_time,
        a.tem_cate_no,
        a.onecategory_no,
        location_name
	from 
		onedayclass a
    join thema_category b on a.tem_cate_no = b.tem_cate_no
    join one_category c on a.onecategory_no = c.onecategory_no
    join area_category d on a.location_no = d.location_no
    where one_no = ?
	order by 1 desc


</entry>

<entry key ="adOnedayDetailat">



	
   select 
   		file_no, 
   		origin_name, 
   		change_name,
   		file_path,
   		file_level,
   		one_no
    from 
    	attechment
    where 
    	one_no = ?


</entry>

<entry key ="adOnedayUpdateFile">



	
	update 
		onedayclass
	set 
		location_no = ?,
	    one_title= ?,
	    ent_people= ?,
	    tem_cate_no = ?,
	    onecategory_no = ?,
	    price = ?,
	    one_place = ?,
	    Start_time = ?,
	    END_TIME = ?
	where 
		one_no = ?

</entry>


<entry key ="adOnedayUpdateFileatDelete">



	
	delete 
		attechment 
	where 
		one_no = ?

</entry>
<entry key ="adOneDayUpdateFileinsert">



	
insert into attechment(file_no,origin_name,change_name,file_path,file_level,one_no) VALUES (seq_attachment.nextval,?,?,?,?,?)


</entry>


<entry key ="adOneDayDetele">

 update onedayclass set one_status = 'N' where ONE_NO = ?

	



</entry>

<entry key ="adOneDayinsertFile">

insert into oneDayClass(one_no,one_title,one_phone,one_place,location_no,ent_people,tem_cate_no,onecategory_no,price,start_time,end_time) 
values (one_no_seq.NEXTVAL,?,?,?,?,?,?,?,?,?,?)

	



</entry>
<entry key ="adOneDayinsertFileat">

insert into attechment(file_no,origin_name,change_name,file_path,file_level,one_no)
values(seq_attachment.NEXTVAL,?,?,?,?,one_no_seq.CURRVAL)
	



</entry>








</properties>