<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT
	       COUNT(*) COUNT
	  FROM INQUIRE
	 WHERE STATUS = 'Y'
</entry>



<entry key="inquireSelectList">
SELECT *
  FROM (  
        SELECT ROWNUM"RNUM" , A.*
		  FROM (
		        SELECT 
		               INQUIRE_NO
		             , INQUIRE_TITLE
		             , USER_ID
	   				 , USER_NO
		             , CREATE_DATE
		             , I.STATUS
		          FROM INQUIRE "I"
		          JOIN MEMBER ON (USER_NO = INQUIRE_WRITER)
		         ORDER 
		            BY INQUIRE_NO DESC
           		 ) A
         )
 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="insertInquire">
	INSERT 
	  INTO INQUIRE 
	     ( 
	       INQUIRE_NO
	     , INQUIRE_TITLE
	     , INQUIRE_CONTENT
	     , INQUIRE_WRITER
	     )
	VALUES 
	     (
	       INQUIRE_SEQ.NEXTVAL
	     , ?
	     , ?
	     , ?
	     )
</entry>



<entry key="detailViewInq">
   SELECT 
	      INQUIRE_NO
	    , INQUIRE_TITLE
	    , INQUIRE_CONTENT
	    , USER_ID
	    , CREATE_DATE
	    , I.STATUS
	    , ANSWER
	 FROM INQUIRE I
	 JOIN MEMBER ON (INQUIRE_WRITER = USER_NO)
	WHERE INQUIRE_NO = ?
</entry>

<entry key="deleteInquire">
	DElETE
	  FROM INQUIRE
	 WHERE INQUIRE_NO = ?
</entry>

<entry key="insertAttachment">
	INSERT 
	  INTO ATTECHMENT
		 (
		   FILE_NO
	     , INQUIRE_NO
		 , ORIGIN_NAME
		 , CHANGE_NAME
		 , FILE_PATH
		 )
	VALUES
		 (
		   SEQ_ATTACHMENT.NEXTVAL
		 , INQUIRE_SEQ.CURRVAL
		 , ?
		 , ?
		 , ?
		 )
</entry>

<entry key="selectAttechment">
	SELECT 
	       FILE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	  FROM ATTECHMENT
	 WHERE INQUIRE_NO = ?
	   AND STATUS = 'Y'
</entry>



</properties>