<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>


	<entry key="selectList">
		  SELECT R.REVIEW_NO, R.R_TITLE, R.R_CONTENT, R.R_DATE, P.P_TITLE 
			  FROM REVIEW R
			   JOIN PLACE P ON R.PLAY_NO = P.P_NO
			  WHERE R.USER_NO = ?
			ORDER BY R.R_DATE DESC
   	</entry>
	
















</properties>