<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="selectListCount">
	SELECT
	       COUNT(*) COUNT
	  FROM NOTICE
	 WHERE STATUS = 'Y'
</entry>


<entry key="noticeSelectList">
SELECT *
  FROM (  
        SELECT ROWNUM"RNUM" , A.*
          FROM (
               SELECT 
                       NOTICE_NO
                     , NOTICE_TITLE
                     , USER_ID
                     , COUNT
                     , CREATE_DATE
                  FROM NOTICE "N"
                  JOIN MEMBER ON (USER_NO = NOTICE_WRITER)
                 WHERE N.STATUS = 'Y'
                 ORDER 
                    BY NOTICE_NO DESC
              ) A
        )
 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="insertNotice">
INSERT 
  INTO NOTICE
	 (
	   NOTICE_NO
	 , NOTICE_TITLE
	 , NOTICE_CONTENT
	 , NOTICE_WRITER
	 )
	 VALUES
	 (
	   NOTICE_SEQ.NEXTVAL
	 , ?
	 , ?
	 , ?
	 )
</entry>

<entry key="increaseCount">
	UPDATE NOTICE
	   SET COUNT = COUNT + 1
	 WHERE NOTICE_NO = ?
	   AND STATUS = 'Y'
</entry>

<entry key="noticeDetailView">
	SELECT NOTICE_NO
	     , NOTICE_TITLE
	     , NOTICE_CONTENT
	     , USER_ID
	     , CREATE_DATE
	  FROM NOTICE
	  JOIN MEMBER ON(NOTICE_WRITER = USER_NO)
	 WHERE NOTICE_NO = ?
</entry>

<entry key="noticeSelect">
	SELECT 
	       NOTICE_NO
	     , NOTICE_TITLE
	     , NOTICE_CONTENT
	     , USER_ID
	     , CREATE_DATE
	  FROM NOTICE
	  JOIN MEMBER ON (NOTICE_WRITER = USER_NO)
	 WHERE NOTICE_NO = ?
</entry>


<entry key="updateNotice">
	UPDATE NOTICE
	   SET NOTICE_TITLE = ?
	     , NOTICE_CONTENT = ?
	 WHERE NOTICE_NO =?
	   AND STATUS = 'Y'
</entry>

<entry key="noticeDelete">
	UPDATE NOTICE
	   SET STATUS = 'N'
	 WHERE NOTICE_NO = ?
</entry>

<entry key="selectAttechment">
	SELECT
	       FILE_NO
	     , ORIGIN_NAME
	     , CHANGE_NAME
	     , FILE_PATH
	  FROM ATTECHMENT
	 WHERE NOTICE_NO = ?
	   AND STATUS = 'Y'
</entry>

<entry key="insertAttechment">
 INSERT
   INTO ATTECHMENT
      (
        FILE_NO
      , NOTICE_NO
      , ORIGIN_NAME
      , CHANGE_NAME
      , FILE_PATH
      , FILE_LEVEL

      )
      VALUES
      (
        SEQ_ATTACHMENT.NEXTVAL
      , NOTICE_SEQ.CURRVAL
      , ?
      , ?
      , ?
      , ?

      )
</entry>

<entry key="updateAttechment">
UPDATE ATTECHMENT
   SET ORIGIN_NAME = ?
     , CHANGE_NAME = ?
     , FILE_PATH = ?
 WHERE FILE_NO = ?

</entry>

<entry key="insertNewAttachment">
		INSERT
		  INTO ATTECHMENT
			 (
			   FILE_NO
			 , NOTICE_NO
			 , ORIGIN_NAME
			 , CHANGE_NAME
			 , FILE_PATH
			 ) 
		VALUES
			 (
			   SEQ_FNO.NEXTVAL
			 , ?
		     , ?
		     , ?
			 , ?
			 )
	</entry>



</properties>