<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectOnedayList">
		SELECT 
		       ONE_NO
		     , ONE_TITLE
		     , ONE_PLACE
		     , ENT_PEOPLE
		     , SCORE
		     , PRICE
		     , FILE_PATH || CHANGE_NAME
		  FROM ONEDAYCLASS 
		  LEFT JOIN ATTECHMENT USING (ONE_NO)
		 WHERE STATUS = 'Y'
		   AND FILE_LEVEL = 1
	</entry>
</properties>