<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


	<entry key="selectRestaurantList">
		SELECT
		       P_NO
		     , P_TITLE
		     , ADDRESS
		     , P_CALL
		     , P_SCORE
		     , FILE_PATH || ORIGIN_NAME "TITLEIMG"
		  FROM PLACE P
		  LEFT JOIN ATTECHMENT ON (P_NO = PLACE_NO)
		 WHERE P_STATUS = 'Y'
		   AND P_SELECT_NUM = 1
		   AND LOCATION_NO IN (?,?,?,?,?)
		 ORDER
		    BY P_NO DESC
	</entry>
	
	<entry key="mainPageSelectRestaurnt">
		SELECT 
			   P_NO
			 , P_TITLE
		     , FILE_PATH || ORIGIN_NAME "TITLEIMG"
		  FROM PLACE 
		  JOIN ATTECHMENT ON (P_NO = PLACE_NO)
		 WHERE P_SELECT_NUM = 1
		   AND LOCATION_NO = 1
		   AND P_STATUS = 'Y'	
	</entry>
	
	<entry key="selectRestaurant">
		SELECT
			   P_NO
			 , P_TITLE
			 , ADDRESS
			 , P_CALL
			 , P_SCORE
			 , BUSINESSTIME
			 , TEM_CATE_NO
		  FROM PLACE
		 WHERE P_STATUS = 'Y'
		   AND P_NO = ?
	</entry>
	
	
	

</properties>