<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="insertReview">
		INSERT 
          INTO REVIEW 
             ( REVIEW_NO 
             , R_TITLE
             , R_CONTENT
             , R_DATE
             , SCORE
             , USER_NO
             , STATUS
             , PLAY_NO
             )
        VALUES 
             ( SEQ_REVIEW.NEXTVAL
             , ?
             , ?
             , SYSDATE
             , ?
             , ?
             , DEFAULT
             , ?
             )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO ATTECHMENT
		  (
		    FILE_NO
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , FILE_PATH
		  , FILE_LEVEL
		  , USER_NO
		  , REVIEW_NO
		  )
		  	VALUES
		  (
		    SEQ_ATTACHMENT.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , 1
		  , SEQ_REVIEW.CURRVAL
		  )
	</entry>
	
	<entry key="Review">
		SELECT
                  R.REVIEW_NO
                , R_TITLE
                , R_CONTENT
                , R_DATE
                , SCORE
                , USER_NAME
                , NICKNAME
                , USER_NO
                , FILE_PATH || CHANGE_NAME "TITLEIMG"
             FROM REVIEW R
             JOIN MEMBER M ON R.USER_NO = M.USER_NO
             JOIN ATTECHMENT A ON M.USER_NO = A.USER_NO
             JOIN PlACE P ON R.PLAY_NO = P.P_NO
            WHERE PLAY_NO = ?
              AND R.STATUS = 'Y'
         ORDER BY R.R_DATE DESC
	</entry>
	
	<entry key="selectReview">
		SELECT 
                REVIEW_NO
              , R_TITLE
              , R_CONTENT
              , R_DATE
              , SCORE
              , USER_NO
              , PLAY_NO
           FROM REVIEW
          WHERE REVIEW_NO = ?
            AND STATUS = 'Y'
	</entry>
	
	<entry key="selectAttachment">
		SELECT
		        FILE_NO
		      , ORIGIN_NAME
		      , CHANGE_NAME
		      , FILE_PATH
              , PLACE_NO
              , USER_NO
              , REVIEW_NO
		   FROM ATTECHMENT
		  WHERE REVIEW_NO = ?
		    AND STATUS = 'Y'
	</entry>
	
	<entry key="reviewUpdate">
		UPDATE REVIEW
		   SET R_CONTENT = ?
		     , SCORE = ?
		 WHERE REVIEW_NO = ?
	</entry>
	
	<entry key="updateAttachment">
		 UPDATE ATTECHMENT
		    SET ORIGIN_NAME = ?
		      , CHANGE_NAME = ?
		      , FILE_PATH = ?
		  WHERE FILE_NO = ?	
	</entry>
	
	<entry key="deleteReview">
		UPDATE REVIEW
		   SET STATUS = 'N'
		 WHERE REVIEW_NO = ?  
	</entry>
	
	
</properties>