<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectList">
		SELECT
		       P_NO
		     , P_TITLE
		     , ADDRESS
		     , P_CALL
		     , P_SCORE
		     , BUSINESSTIME
		     , FILE_PATH || ORIGIN_NAME "TITLEIMG"
		  FROM PLACE
		  JOIN ATTECHMENT ON (P_NO = PLACE_NO)
		 WHERE FILE_LEVEL = 1
		   AND P_STATUS = 'Y'
		   AND LOCATION_NO = ?
	</entry>
	<entry key="searchRestaurant">
				SELECT
		       P_NO
		     , P_TITLE
		     , ADDRESS
		     , P_CALL
		     , P_SCORE
		     , BUSINESSTIME
		     , FILE_PATH || ORIGIN_NAME "TITLEIMG"
		  FROM PLACE
		  JOIN ATTECHMENT ON (P_NO = PLACE_NO)
		 WHERE FILE_LEVEL = 1
		   AND P_STATUS = 'Y'
		   AND RCATEGORY_NO = ?
		   AND P_SELECT_NUM = 1
	</entry>
	<entry key="selectAllRestaurant">
						SELECT
		       P_NO
		     , P_TITLE
		     , ADDRESS
		     , P_CALL
		     , P_SCORE
		     , BUSINESSTIME
		     , FILE_PATH || ORIGIN_NAME "TITLEIMG"
		  FROM PLACE
		  JOIN ATTECHMENT ON (P_NO = PLACE_NO)
		 WHERE FILE_LEVEL = 1
		   AND P_STATUS = 'Y'
           AND P_SELECT_NUM = 1
	</entry>
</properties>